/* ================ SECTION FOR PAGES ================= */
section {
  max-width: 500px;
  margin: 0px auto;
  @extend %centered;
  padding-bottom: 20px;

  img {
    max-width: 100%;
  }

  h3 {
    margin-top: 43px;
  }

  h4 {
    margin-top: 35px;
  }
}

.marketing-page,
.search-page,
.travel-app,
.map-of-favorite-sports,
.photo-gallery,
.calculator {
  @include pos-rel;
  margin-bottom: 80px;
  @extend %transition;
}

.portfolio-page {
  margin-top: 100px;
}

@include tablets {
  /* ================ SECTION FOR PAGES (tablet) ================= */
  section {
    max-width: 896px;
  }

  .marketing-page,
  .search-page,
  .travel-app,
  .map-of-favorite-sports,
  .photo-gallery,
  .calculator {
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }
}

@include displays {
  /* ================ SECTION FOR PAGES (tablet) ================= */
  section {
    max-width: 974px;
  }

  .marketing-page,
  .search-page,
  .travel-app,
  .map-of-favorite-sports,
  .photo-gallery,
  .calculator {
    width: 32%;
  }
}
