/* ================ FOOTER ================= */
footer {
  background: $ylw-gray;
}

.contact {
  @extend %centered;
  max-width: 300px;
  margin: 0 auto;
  padding: 1px 0 50px;
}

.footer-nav-display {
  display: none;
}

.footer-nav {
  height: 60px;
  background: $light-gray;

  p, a {
    font-size: 1em;
  }
}

.footer-nav-mobile,
.footer-nav-display {
  @include pos-rel;
  width: 95%
}

.footer-nav-mobile p,
.footer-nav-mobile a,
.footer-nav-display p,
.footer-nav-display ul {
  display: inline-block;
  @include pos-abs;
  top: 24px;
}

.footer-nav-mobile p,
.footer-nav-display p,
.footer-nav-display ul {
  margin-top: 0;
}

.footer-nav-mobile p {
  left: 2%;
}

.footer-nav-mobile a {
  right: 2%;
}

@include tablets {
  /* ================ FOOTER (tablet) ================= */
  .footer-nav-mobile {
    display: none;
  }

  .contact {
    max-width: 430px;
  }

  .footer-nav-display {
    margin: auto;
    display: block;
    max-width: 896px;
  }

  .footer-nav-display p {
    left: 0;
  }

  .footer-nav-display ul {
    right: 0;
  }
  .footer-nav-display li {
    @include nav-li;
  }

  .footer-nav-display li:last-child {
    margin-right: 0;
  }
}
