/* ================ TOP BANNER & NAVIGATION's ================= */
.students-name h3 {
  margin: 30px 0;
  @extend %centered;
}

/* ================ HEADER ================= */
header {
  padding-bottom: 20px;
}

.content {
  width: 310px;
  margin: 0 auto;
  @extend %centered;
}
.students-profile-image {
  max-width: 500px;
  margin: 38px auto;
  background: #D9D4AB;
  border-radius: $br;
}

.students-profile-image img {
  margin: 14px 4px 10px 4px;
  border-radius: 50%;
}

@include tablets {
  /* ================ HEADER (tablet) ================= */
  .content {
    @include pos-rel;
    width: 750px;
    margin-top: 60px;
  }

  .students-bio {
    @include pos-abs;
    top: 0;
    left: 0;
    width: 60%;
    text-align: left;
  }

  .students-bio p {
    margin-top: 0;
  }

  .students-profile-image {
    @include pos-abs;
    top: 0;
    right: 0;
    width: 35%;
    margin-top: 0;
  }
  /* ================ TOP BANNER & NAVIGATION's (tablet) ================= */
  p {
    font-size: 1em;
  }

  header {
    height: 228px;
  }

  .main-nav li,
  .footer-nav-display li {
    @include nav-li;
  }

  .main-nav li:last-child,
  .footer-nav-display li:last-child {
    margin-right: 0;
  }
}

@include displays {
  /* ================ TOP BANNER & NAVIGATION (display) ================= */
  nav {
    @include pos-rel;
    max-width: 1024px;
    height: 64px;
    margin: 0 auto;
  }

  .students-name {
    @include pos-abs;
    left: 40px;
  }

  .students-name h3 {
    margin: 5px 0;
  }

  /* ================ HEADER (display) ================= */
  .content {
    width: 946px;
  }
}
