/* ================ TOP BANNER & NAVIGATION's ================= */
.students-name h3 {
  margin: 30px 0;
  text-align: center;
}

.main-nav {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

.main-nav a {
  display: block;
  color: #f7f7f7;
  padding: 12px;
}

.main-nav ul {
  padding-left: 0;
  margin: 0;
}

.main-nav li {
  list-style: none;
  text-transform: uppercase;
}

.main-nav li {
  background: #73715B;
  margin: 0 5% 5px 5%;
  border-radius: 3px;
  text-align: center;
  letter-spacing: 1.5px;
}

.main-nav li:hover {
  background: #343229;
}

.main-nav li:last-child {
  margin-bottom: 0;
}

/* ================ HEADER ================= */
header {
  padding-bottom: 20px;
}

.content {
  width: 310px;
  margin: 0 auto;
  text-align: center;
}
.students-profile-image {
  max-width: 500px;
  margin: 38px auto;
  background: #D9D4AB;
  border-radius: 3px;
}

.students-profile-image img {
  margin: 14px 4px 10px 4px;
  border-radius: 50%;
}

@media #{$brk-tablets} {
  /* ================ HEADER (tablet) ================= */
  .content {
    position: relative;
    width: 750px;
    margin-top: 60px;
  }

  .students-bio {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    text-align: left;
  }

  .students-bio p {
    margin-top: 0;
  }

  .students-profile-image {
    position: absolute;;
    top: 0;
    right: 0;
    width: 35%;
    margin-top: 0;
  }
}

@media #{$brk-tablets} {
  /* ================ TOP BANNER & NAVIGATION's (tablet) ================= */
  p {
    font-size: 1em;
  }

  header {
    height: 228px;
  }

  .main-nav {
    max-width: 21.9em;
  }

  .main-nav li,
  .footer-nav-display li {
    display: inline-block;
    margin-right: 10px;
  }

  .main-nav li {
    margin-left: 0;
    margin-bottom: 0;
  }

  .main-nav li:last-child,
  .footer-nav-display li:last-child {
    margin-right: 0;
  }
}

@media #{$brk-displays} {
  /* ================ TOP BANNER & NAVIGATION (display) ================= */
  nav {
    position: relative;
    max-width: 1024px;
    height: 64px;
    margin: 0 auto;
  }

  .students-name {
    position: absolute;
    left: 40px;
  }

  .students-name h3 {
    margin: 5px 0;
  }

  .main-nav {
    position: absolute;
    right: 40px;
    top: 15px;
  }

  .main-nav a {
    padding: 5px 12px;
  }

  /* ================ HEADER (display) ================= */
  .content {
    width: 946px;
  }
}
